@font-face {
  font-family: 'PT Serif';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Serif-Web-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PT Serif';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Serif-Web-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Sans-Web-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Sans-Web-Bold.ttf');
  font-weight: bold;
}

// Delete this
@font-face {
  font-family: 'Letter Gothic Std';
  src:  url('{{ .Site.Params.subdomain }}/fonts/Letter_Gothic_Std.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'TextMeOne';
  src:  url('{{ .Site.Params.subdomain }}/fonts/TextMeOne-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'AnonymousPro';
  src:  url('{{ .Site.Params.subdomain }}/fonts/AnonymousPro-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'AnonymousPro';
  src:  url('{{ .Site.Params.subdomain }}/fonts/AnonymousPro-Bold.ttf');
  font-weight: bold;
}
