@font-face {
  font-family: 'PT Serif';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Serif-Web-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PT Serif';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Serif-Web-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Sans-Web-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src:  url('{{ .Site.Params.subdomain }}/fonts/PT_Sans-Web-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src:  url('{{ .Site.Params.subdomain }}/fonts/Letter_Gothic_Std.ttf');
  font-weight: normal;
}
