$snow-white: #ffffff;
$greenies: #1cb067;
$gray-world: #71787e;
$sunray: #d35656;
$black-soul: #152935;
$opaque: rgba(0, 0, 0, 0.1);

$post-font: "IBMPlexSans", sans-serif;
$main-font: "PT Sans", sans-serif;
$header-font: "PT Serif", serif;

html,
body {
  width: 100%;
  max-width: 100%;

  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: $snow-white;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;

  font-family: $post-font;
  color: $black-soul;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  border-top: 1px solid $gray-world;
  margin-top: 5rem;

  .nav-links-container {
    padding-top: 1rem;
  }
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;

  span {
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: $gray-world;
    opacity: 0.6;

    > a {
      color: $sunray;
      text-decoration: none;
    }
  }
}

a {
  color: $snow-white;
  text-decoration: none;
}

h1 {
  font-family: $header-font;
  font-weight: 100;
  font-size: 2.5rem;
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
  color: $greenies;
  letter-spacing: 2px;
  line-height: 18px;
}

hr {
  border: 0;
  border-bottom: 1px dotted $greenies;
  background: transparent;
  padding: 15px 0;
}

code {
  font-size: 0.8rem;
  font-family: inherit;
}

p > code {
  color: $greenies;
  font-size: 1rem;
  padding: 0px 4px;
  font-family: monospace;
}

blockquote {
  margin: 0px;
  padding: 5px 20px;
  border-left: 3px solid $greenies;
  background: rgba(255, 255, 255, 0.2);
  color: $black-soul;
}

sup.footnote-ref {
  > a {
    color: $snow-white;
  }
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  display: block;
}

.container {
  width: 100vw;
  max-height: 100vh;
  min-height: 100vh;

  display: block;
  position: relative;
  overflow: auto;

  padding-left: 200px;
}

.header {
  height: 150px;
  display: none;
  justify-content: center;
  background-image: url("{{ .Site.Params.subdomain }}/images/background.jpg");
  background-size: cover;
  background-position-y: 40%;
  text-align: center;

  &__title {
    margin: 0.5rem;
    color: $snow-white;

    > h1 {
      margin-bottom: 0.5rem;
    }
  }
}

.header-link {
  font-family: $header-font;
  letter-spacing: 1px;
  color: $black-soul;
  font-size: 2rem;
  font-weight: 400;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 1001;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

  background-image: url("{{ .Site.Params.subdomain }}/images/background.jpg");
  background-size: cover;
  background-position-x: 30%;

  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);

  &__title {
    padding: 30px;
    color: $snow-white;
  }

  &__meta {
    padding: 20px;

    > span {
      font-family: $post-font;
      font-size: 0.5em;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $snow-white;
      padding: 0;
      margin: 0;
    }
  }
}

.topics-sidebar {
  position: fixed;
  top: 60px;
  right: 25px;
  width: 240px;
  z-index: 1002;

  color: $snow-white;
  text-align: right;

  transition: all 0.5s;

  > .topic-container > h3 {
    color: $sunray;
    font-weight: 500;
  }
}

ul.topics {
  list-style: none;
  text-align: right;

  > li {
    padding: 0.5em;
    padding-right: 0;

    > a {
      display: block;
      font-size: 0.6rem;
      font-family: $post-font;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $black-soul !important;
    }
  }
}

.link {
  font-weight: 700;
  letter-spacing: 1px;
  color: $greenies;
}

.content {
  position: relative;
  width: 40%;
  padding: 70px 0 50px 95px;

  font-family: $post-font;

  > .summary {
    padding-bottom: 5rem;
  }

  &__post {
    display: block;

    font-family: $post-font;
    font-weight: 400;
    font-size: 1rem;
    color: $black-soul;
    line-height: 1.625rem;

    > h1 {
      font-weight: normal;
      font-size: 2em;
      line-height: 2.5rem;
      font-family: $header-font;
      font-weight: 700;
      margin: 0;
    }

    > h1 > a {
      color: $sunray;
    }

    a {
      color: $greenies;
    }

    > .wurds {
      > a.more-link {
        font-family: $main-font;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }

  &__tags {
    font-family: $post-font;
    font-size: 0.8rem;
    color: $gray-world;
    letter-spacing: 0;
    text-transform: uppercase;

    padding: 1rem 0;
  }
}

// media-queries
/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  .container {
    padding-left: 0px;
  }

  .content {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0 10rem 0;
  }

  .header {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  footer {
    > .nav-links-container {
      padding-bottom: 5rem;
    }
  }

  .topics-sidebar {
    display: none;
  }
}

// /* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .container {
    padding-left: 0;
  }

  .content {
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0 10rem 0;
  }

  .sidebar {
    display: none;
  }

  .header {
    display: flex;
  }

  footer {
    > .nav-links-container {
      padding-bottom: 5rem;
    }
  }

  .topics-sidebar {
    display: none;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 0px;
  }

  .content {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0 10rem 0;
  }

  .sidebar {
    display: none;
  }

  .header {
    display: flex;
  }

  footer {
    > .nav-links-container {
      padding-bottom: 3rem;
    }
  }

  .topics-sidebar {
    display: none;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  .container {
    padding-left: 200px;
  }

  .content {
    width: 40%;
    padding: 70px 0 50px 95px;
    margin: 0;
  }

  .sidebar {
    display: flex;
  }

  .header {
    display: none;
  }

  .topics-sidebar {
    display: block;
  }
}
