$burnt-orange: #EF5E00;
$snow-white: #FFFFFF;
$gray-world: #C4C4C4;
$black-soul: #000000;
$the-blue: #122B53;

html {
  height: 100%;
}

body {
  width: 100wh;
  height: 100%;
  background-color: $gray-world;
	background-size: 400% 400%;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;
  font-family: 'Letter Gothic Std', sans-serif;
  color: #122b53;
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  min-width: 200px;
  width: 200px;
  height: 100%;
  background-image: url('{{ .Site.Params.subdomain }}/images/bg.png');
  background-size: cover;
  background-position-x: 30%;
  color: #000;
  border-right: 1px solid $burnt-orange;
  display: flex;
  justify-content: space-between;
}

a {
  color: $snow-white;
  text-decoration: none;
}

h1 {
  font-family: 'PT Serif', serif;
  font-weight: 100;
  font-size: 24px;
}

h4 {
  font-size: 11px;
  text-transform: uppercase;
  color: #122b53;
  font-family: 'Letter Gothic Std', sans-serif;
  letter-spacing: 2px;
  line-height: 18px;
}

.sidebar__title,
.sidebar__topics {
  padding: 30px;
}

.sidebar__topics > h4 {
  color: rgba(7,115,209,1);
}

.content {
  flex-direction: row;
  flex-grow: 1;
  overflow-y: auto;
  padding: 3em 3em 3em 3em;
  font-family: 'PT Sans', sans-serif;

  &__post {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: $black-soul;

    > h1 {
      margin-bottom: 0;
    }

    > h1, a {
      color: $the-blue;
    }

    > span {
      font-size: 11px;
      text-transform: uppercase;
      font-family: 'Letter Gothic Std', sans-serif;
      letter-spacing: 2px;
      color: $snow-white;
    }

    > .wurds {
      padding: 15px 0;
    }
  }
}

.social-media-container,
.topic-container {
  position: absolute;
  right: 0;
}

.social-media-container {
  padding: 0 3em;
}

ul.topics {
  padding: 3em;
  list-style: none;
  text-align: right;

  > li {
    padding: 0.5em;

    > a {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      font-family: 'Letter Gothic Std', sans-serif;
      letter-spacing: 2px;
      text-decoration: underline;
    }
  }
}
