$burnt-orange: #EF5E00;
$snow-white: #FFFFFF;
$gray-world: #C4C4C4;
$ultimate-gray: #545454;
$black-soul: #000000;
$the-blue: #122B53;
$pretty-blue: rgba(7,115,209,1);
$gothic: 'Letter Gothic Std', sans-serif;

html {
  height: 100%;
}

body {
  width: 100wh;
  height: 100%;
  background-color: $gray-world;
	background-size: 400% 400%;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;
  font-family: $gothic;
  color: $black-soul;
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  min-width: 200px;
  width: 200px;
  height: 100%;
  background-image: url('{{ .Site.Params.subdomain }}/images/bg.png');
  background-size: cover;
  background-position-x: 30%;
  color: #000;
  border-right: 1px dotted $burnt-orange;
  display: flex;
  justify-content: space-between;

  &__title,
  &__topics {
    padding: 30px;
  }

  &__title {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;

    > h1 > a {
      color: $black-soul;
    }
  }

  &__topics {
    > h4 {
      padding: 0;
      margin: 0;
      font-size: 10px;
      color: $snow-white;
    }
  }
}

a {
  color: $snow-white;
  text-decoration: none;
}

h1 {
  font-family: 'PT Serif', serif;
  font-weight: 100;
  font-size: 24px;
}

h4 {
  font-size: 11px;
  text-transform: uppercase;
  color: $the-blue;
  font-family: 'Letter Gothic Std', sans-serif;
  letter-spacing: 2px;
  line-height: 18px;
}

hr {
  border: 0;
  border-bottom: 1px dotted $burnt-orange;
  background: transparent;
  padding: 15px 0;
}

code {
  font-family: letter gothic std,sans-serif;
  font-size: small;
  font-weight: bold;
  color: $pretty-blue;
}

blockquote {
  margin: 0px;
  padding: 5px 20px;
  border-left: 3px solid $burnt-orange;
  background: rgba(255, 255, 255, 0.2);
  color: $the-blue;
}

sup.footnote-ref {
  > a {
    color: $snow-white;
  }
}

.content {
  flex-direction: row;
  flex-grow: 1;
  overflow-y: auto;
  padding: 3em 3em 3em 3em;
  font-family: 'PT Sans', sans-serif;

  > div:first-child {
    flex: 2 0 0;
  }

  > div:last-child {
    flex: 1 0 0;
  }

  &__post {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: $black-soul;

    > p {
      padding: 0;
      margin: 0;
    }

    > h1 {
      margin-bottom: 0;
    }

    > h1, a {
      color: $the-blue;
    }

    > span {
      font-size: 11px;
      text-transform: uppercase;
      font-family: 'Letter Gothic Std', sans-serif;
      letter-spacing: 2px;
      color: $ultimate-gray;
    }

    > .wurds {
      padding: 0 0 15px;

      > p:first-child {
        margin-bottom: 0;
      }

      > a.more-link {
        font-size: 11px;
        font-family: letter gothic std,sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: $burnt-orange;
      }
    }
  }
}

.social-media-container,
.topic-container {
  position: absolute;
  right: 0;
}

.social-media-container {
  padding: 0 3em;
}

ul.topics {
  padding: 3em;
  list-style: none;
  text-align: right;

  > li {
    padding: 0.5em;

    > a {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      font-family: 'Letter Gothic Std', sans-serif;
      letter-spacing: 2px;
      text-decoration: underline;
      color: $ultimate-gray;
    }
  }
}
