<div>
  <div class="content__header">
    <i class="fas fa-bars"></i>
  </div>
  <section class="content__post">
    <h4>Golang : How to install Golang?</h4>
    <h1>Upload files from browser using pre-signed URLS</h1>
    <p>
      Using presigned URLs, you can allow a browser to upload a file directly to S3 without exposing your S3 credentials to the user.
      <br \>
      The following is an annotated example of this using minio-js.
    </p>
  </section>
  <footer>
    < prev post | next post >
  </footer>
</div>
